.carousel-container {
  overflow: hidden;
  width: 100%;
  /* background-image: url('../../assets/container_background.png');  /* 이미지 경로에 맞게 수정 */
  /* background-size: contain;
  background-repeat: repeat;
  background-position: center; */
  background: rgb(177, 228, 255);
}

.carousel-track {
  display: flex;
  width: fit-content;
  animation: scroll-left-right 6s ease-in-out infinite;
}

.club-logo {
  width: 120px;
  height: auto;
  margin: 0 20px;
}

@keyframes scroll-left-right {
  0% {
    transform: translateX(-10%);
  }
  25% {
    transform: translateX(-15%);
  }
  50% {
    transform: translateX(-5%);
  }
  75% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(-10%);
  }
}