.mypage-wrapper {
  max-width: 600px;
  margin: 80px auto;
  padding: 24px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  font-family: 'Pretendard', sans-serif;
}
.my-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.my-info h2 {
  margin: 0;
}

.my-warning {
  font-size: 1rem;
  color: #333;
}
.warning-count {
  color: red;
  font-weight: bold;
}
.warning-text {
  color: rgb(175, 170, 170);
}
.reservation-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reservation-card {
  background-color: #f6f6f6;
  padding: 16px;
  border-radius: 10px;
  line-height: 1.6;
  position: relative;
}

.reservation-list {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.action-button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.cancel-button {
  background-color: #ecf0f1;
  color: #2c3e50;
}
.cancel-button:hover {
  background-color: #d0d7dc;
}

.extend-button {
  background-color: #3498db;
  color: white;
}
.extend-button:hover {
  background-color: #2980b9;
}

.return-button {
  background-color: #E1F2D5;
  color: black;
}
.return-button:hover {
  background-color: #bcc9b3;
}

.cancelled-text {
  margin-top: 10px;
  font-weight: bold;
  color: #c0392b;
}

.returned-text {
  margin-top: 10px;
  font-weight: bold;
  color: rgb(47, 61, 216);
}
.reservation-button {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  padding: 10px 16px;
  background-color: rgb(255, 163, 102);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}
.reservation-button:hover {
  background-color: rgb(255, 137, 72)
}
